
.bl_thongtin
{
  
    height: 680px;
    display: flex;
    
    
  
}
.block_left_thongtin{
    width: 20%;
    height: 100%;
    

}


.block_right_thongtin{
    width: 80%;
    height: 100%;
    
    display: flex;
    flex-direction: column;
    border: 1px solid red;
}

.bl_logo_ten
{
    width:100%;
    height: 10%;
    display: flex;
    
    
   
}
.logo-thongtin
{
    width: 25%;
    
    display: flex;
    align-items: center;
    
}
.img_logo_thongtin
{
    width:100%;
    height: 100%;
    border-radius: 50%;
    
    
    
}
.ten-thongtin
{
    display: flex;
    align-items: center;
}

.bl_myaccount-thongtin
{
    height: 50%;
    width: 100%;
    background-color: #f5f5f5;
    
   
}

.logo-myacount_thongtin
{
    width: 30%;
}
.img_logo-myacount_thongtin
{
    width: 80%;
}

.logo-myacount_txt-acount_thongtin
{
    width: 100%;
 
    

   
    
}
.logo-myacount_txt-acount_thongtin
{
    display: flex;
}
.txt-myacount_thongtin
{
    width: 100%;
    display: flex;
    align-items: center;
}
.list_profile_myacount_thongtin
{
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-left: 23%;
}

.a-cp-myacount-profile_thongtin
{
    width: 100%;
    height: 15%;
    color: #000000;
    display: flex;
    align-items: center;
    color: rgb(255, 77, 0);

}
.a-cp-myacount-address_thongtin
{
    width: 100%;
    height: 15%;
    color: #000000;
    display: flex;
    align-items: center;
}
.txt_myacount
{
    color: #000000;
}
.a-cp-myacount-changepassword_thongtin
{
    width: 100%;
    height: 15%;
    color: #000000;
    display: flex;
    align-items: center;
}

.header_thongtin
{
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color:white;
    border-bottom: 1px solid rgb(127, 124, 124);
}
.bl-main_thongtin
{
    width: 100%;
    height: 100%;
}
.txt_1_header_thongtin
{
    padding-left: 2%;
    font-size: 23px;
}
.txt_2_header_thongtin
{
    padding-left: 2%;
    font-size: 18px;
}
.form-profile_thongtin
{
    width: 100%;
    height: 100%;
    background-color: white !important;
}

.bl_profile_myacount_bl_main_thongtin
{
    height: 100%;
    display: flex;
    background-color: white;
    
}
.form-profile_thongtin
{
    width: 75%;
    background-color: #f5f5f5;
}

.avata-profile-select_avata_thongtin
{
    width: 25%;
    background-color: #f5f5f5;
    display: flex;
    align-items: center;
    border-left:1px solid rgb(127, 124, 124); ;
}
.table-row-large
{
    height: 60px;
    
    
}
.btn-submit_thongtin
{
    margin-left: 20%;
    width: 12%;
    
}

.bl_avata_selectavata_thongtin
{
    width: 100%;
    height: 60%;
    background-color: white;
    display: flex;
    align-items: center;
    flex-direction:column;
    justify-content:space-around;
   
}
.bl_img_avata_profile_thongtin
{
    width: 100px;
    height: 100px;
    border-radius: 50%
}
.img-avata-profile-thongtin
{
    width: 100%;
    border-radius: 50%; 

}
.select_img_profile_thongtin
{
    width: 80%;
    height: 20%;
    margin-top: -80px;
    display: block;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.table-borderless
{
    background-color: white;
}
.avata-profile-select_avata_thongtin
{
    background-color: white;
}

.btn-select-image
{
    margin-bottom: 26px;
    border: none;
}
.txt-file-size
{
    margin-bottom: 10px;
    
}
.txt-file-exten
{
    margin-bottom: 5px;
}
.form-profile
{
    margin-left: 100px;
}