.form-input__password {
  width: 100%;
  border-radius: 3px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  padding: 10px 10px;
}

.form-convenient {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}

.form-convenient .form-convenient__text {
  text-decoration: none;
  font-size: 14px;
  color: #718dcf;
}

.form-des__input {
  text-align: center;
}

.form-des__input .form-des__text {
  color: #ef7081;
  text-decoration: none;
}

.dang-ky__fullbanner {
  position: relative;
}

.dang-ky__form {
  top: 12%;
  position: absolute;
  border-radius: 5px;
  justify-content: center;
}